/* // Required Core Stylesheet */
/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.core"; */

/* // Optional Theme Stylesheet */
/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme"; */

html{
    height: 100%;
}
body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

.main-content {
    margin-left: 100px;
    margin-top: 200px;
    background-color: white;
    width: 60%;
}

.content {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    /* text-align: center; */
}

.menu {
    display: flex;
    flex-direction: column;

    width: 20%;
    background-color: #74957b;
    /* border-right: solid 2px black; */
    border-right: solid 2px #4e7055
}

/* .nav{
    border-top: 1px solid white;

} */
.options {
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 5px;
    display: list-item;
    padding: 20px;
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    color: white;
}

.picture {
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: #040d22; */
    background: #74957b;
    ;
    text-align: center;
}

.picture img {
    /* padding-top: 50px;
    padding-bottom: 50px;

background-color: blue;
border: 20%; */
    /* height: 175px; */
    /* width: 175px; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* border: 16px solid #2928a7; */
    border: 16px solid #4e7055;
    text-align: center;
    object-fit: cover;
    /* clip-path: circle(); */

}

.spacer {
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    /* background: #040d22; */
    background: #74957b;

}

/* .btn{
    cursor: pointer;
    transition:color 0.4s linear;
    position: relative;

}
.btn:hover{
    color:rgb(0, 255, 42);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 48, 48);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.options::before{
    transform: scaleX(0);

}
.options:hover::before{
    transform: scaleX(1);

} */



.btn {
    background: none;
    cursor: pointer;
    transition: color 0.4s linear;
    /* background-color: black; */
    background-color: #74957b;
    transition: 0.5s;

    text-align: center;
    /* position: relative; */
}

.btn:hover {
    background: #4e7055;
    /* color: black; */
    font-weight: bolder;
    box-shadow: -11px 0px 30px 0px #4e7055;

}

/* .btn:hover{
    color: #fff;
}
.btn::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #480;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.options::before{
    transform:scaleX(0);
}
.options:hover::before{
    transform:scaleX(1);
} */

.hi {
    font-size: 2rem;
    color: grey;
    margin: 0;
    margin-top: 10px;
}

.name {
    display: flex;

}

p.first-name {

    font-size: 4.5rem;
    letter-spacing: .025em;
    margin: 0;
    margin-right: 0.7rem;
    color: #4e7055
}

.last-name {
    font-size: 4.5rem;
    letter-spacing: .025em;
    margin: 0;
    color: #100c0cb3;
}

.personal-info p {
    color: grey;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* .personal-info a {
    color: grey;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    transition: 0.7s;

    border: solid 1px #4e7055;
} */
.contactBtn{
    text-decoration: none;
    color: #4e7055;
    border: 1px solid #4e7055;
    padding: 8px;
    text-transform: uppercase;
    transition: 1s;
    /* transition: transform 1s; */

}
.hover-me:hover {
    color: white;
    background: #74957b;
    border: solid 1px white;
  
}
/* .contact-me i{
    width: 100px;
    height: 100px;
    color: black;
} */
.icon-skills{
    width: 70px;
    height:70px;
    margin-right: 10px;
}
.group-skills{
margin-top: 40px;
border-bottom: 1px solid #4e7055;
    padding-bottom: 35px;
}
.soft-skills{
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid #4e7055;
    padding-bottom: 35px;
}
.soft-section{
    text-align: center;
    margin-right: 30px;
}
.green-me{
    color: #4e7055;
    font-size: 1.2em;
}
ul{
    font-size: 1.25rem;
    color: #74957b;
}
.dif-color{
    color: #4e7055;
}
.yoga{
    border-radius: 40px;

}
.contact-div{
    display: flex;
    align-items: center;
    transition: transform 1s;
   
}
.my-mail{
    color: #74957b;
    font-size: 1.2em;
}
.mail-me:hover{
    cursor: pointer;
  
}
.hide{
    opacity:0;
    transition: 1s;

}
.show{
    opacity:1;
    transition: 1s;

}
.gitHub{
    border-radius: 40px;
    border: solid 1px black;
}
.contact-div img{
    margin-bottom: 10px;
    margin-top: 10px;
}



.certs{
    /* margin: 60px; */
    width: 100%;
    height: auto;
}


/* .glider-slide img {
    opacity: 0;
    transition: opacity .1s ease;
  }
  .glider-slide img.loaded {
    opacity: 1;
  } */